* {
    font-family: "Helvetica";
}

html, body {
    height: 100%;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey;
}

.header-container h1 {
    font-size: 42px;

}

.container {
    min-height: 100%;
    margin-bottom: -50px;
    background-color: grey;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 8rem;
}

input[type="color"] {
    background: none;
    cursor: pointer;
    border: none; 
    height: 35px;
    padding: 0;
    width: 80px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 20px;
  }

.color::-webkit-color-swatch {
    border-radius: 15px;
}

  

.grid {
    height: 600px;
    width: 600px;
    display: grid;
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pixel {
    border: 1px solid skyblue;
    background-color: white;
    text-align: center;
}

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    gap: 0.5em;
}

.range {
    -webkit-appearance: none;
    width: 300px;
    height: 25px;
    border-radius: 15px;
    background: #aaa;
    outline: none;
    margin-top: 2em;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #f5f5f5;
    border-radius: 10px;
}

.range-output {
    font-size: 1.5em;
}

footer {
    height: 50px;
    text-align: center;
}
